.container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: lightgray; */
}

@media screen and (max-width: 850px) {
    .container {
        display: block;
    }  
}